body {
    width: 900px;
    height: 500px;
    border: solid 5px;
    border-radius: 13px;
}

#top {
    height: 20%;
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

#pplData {
    display: flex;
    flex-direction: row;
}

#pplData img{
    margin: 100px;
    transform: scale(1.8,1.8);
}

#info {
    font-size: 30px;
    padding-top: 50px;
    padding-left: 60px;
}

#amntId {
    display: flex;
    flex-direction: row;
}

button {
    height: 20px;
    margin: 16px;
}

#out {
    margin-left: 300px;
}